<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Portfolio Home </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    .box{background-color: gainsboro; color:black;}
    .profile-image{width:208px;height:208px;object-fit: cover;  border: 3px solid #343a40;  }
    .img-thumbnail{width: 170px; height: 170px;}
    .logo{width: 50px; height: 50px;}
    @media only screen and (max-width: 600px) {
      .profile-image{width: 108px; height: 108px;}
      .logo{width: 25px; height: 25px;}
}
  </style>
  </head>
  <body>
    <br>
    <div class="container ">
      <div class="col mb-3">
        <div class="row">
          <div class="box rounded p-2 d-flex justify-content-between align-items-center">
            <h1>Portfolio</h1>
            <button id="theme-toggle" class="btn btn-primary">Switch to Dark Mode</button>
          </div>
        </div>
      </div>
      
    <!--- Image Column -->
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
              
              <div class="row">
                <div class="box p-3 rounded border border-5">
                    <div class="row align-items-center">
                        <div class="col-6 text-center">
                            <img class="profile-image rounded-circle" src="images/PM.jpg" alt="Profile Image">
                            <h3> Muskanpreet Kaur </h3>
                           
                            
                        </div>
                        <div class="col-6">
                          <p>Web Developer with a passion for front-end and back-end development, open-source contributions, and UI/UX design.</p>
                            <p>Email: muskanpreet@gmail.com</p>
                            <p><i class="fas fa-map-marker-alt"></i> Montreal, Canada</p>                         
                             <p><a href="https://github.com/muskanchohla" target="_blank"><i class="fab fa-github"></i> <img class="logo" src="images/github.png"> GitHub </a> &nbsp;&nbsp;
                               <a href="https://www.linkedin.com/in/muskanpreet-kaur-ab83a8308/" target="_blank"><i class="fab fa-linkedin"></i>  <img class="logo" src="images/linkedin.png"> LinkedIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
    
              <div class="row mt-3">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Skills</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Education</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Experience</button>
                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" >Projects</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <ul class="pt-3">
                  <li><strong>Languages:</strong> C#, Swift, Java, HTML/CSS, Python, and SQL</li>
                  <li><strong>Software:</strong> VS Code, Visual Studio 2019, IDLE (Python 3.12 64-bit), draw.io, IntelliJ IDEA, SQL Server Management Studio 19</li>
                  <li><strong>Technology Stack:</strong> MySQL, Bootstrap, JSON, and JIRA</li>
                  <li><strong>Industrial Knowledge:</strong> Agile Methodology, Git, and GitHub</li>
                  <li><strong>Computer Skills:</strong> MS Office Suite, MS Teams, and Zoom Meetings</li>
              </ul>
              
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <ul class="pt-3">
                  <li>10th (Mata Gujri Convent School,India)</li>
                  <li>12th (Mata Gujri Convent School,India)</li>
                  <li>AEC: Information technology programmer Analyst, LaSalle College, Montreal, Quebec</li>
                </ul>                             
               
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    <br>
                  <!-- Customer Service Agent Experience -->
                  <div class="p-3 mb-3" style=" border-radius: 10px; box-shadow: 2px 2px 6px rgba(235, 231, 231, 0.989);">
                      <h5><strong>Customer Service Agent</strong></h5>
                      <p><em>Tim Hortons, Montreal, Canada</em></p>
                      <ul>
                          <li>Effectively communicate with a diverse customer base to ensure a high level of service.</li>
                          <li>Work effectively with team members to enhance service efficiency and customer satisfaction.</li>
                          <li>Maintain accuracy in order-taking and processing to minimize errors.</li>
                          <li>Quickly and efficiently resolve customer complaints or issues.</li>
                      </ul>
                  </div>
              
                  <!-- 3D Character Artist (Internship) Experience -->
                  <div class="p-3" style=" border-radius: 10px; box-shadow: 2px 2px 6px rgba(235, 231, 231, 0.989);">
                      <h5><strong>3D Character and Animation Designer (Internship)</strong></h5>
                      <p><em>Infirnaa</em></p>
                      <ul>
                          <li><strong>Objective:</strong> Developed a virtual simulation demo to assist nursing students aspiring to become doctors.</li>
                          <li><strong>Technologies Used:</strong>
                              <ul>
                                  <li><strong>Unity</strong> – Game development & interaction design.</li>
                                  <li><strong>Blender & MakeHuman</strong> – 3D modeling & character creation.</li>
                                  <li><strong>Unreal Engine</strong> – Enhancing visual realism & environment simulation.</li>
                              </ul>
                          </li>
                          <li><strong>Key Features:</strong>
                              <ul>
                                  <li><strong>Immersive Learning:</strong> Provides an interactive hospital simulation to familiarize students with real-world medical environments.</li>
                                  <li><strong>Game & Exploration Mode:</strong> Students can either play as a character or explore various hospital units to understand workflows.</li>
                                  <li><strong>Realistic Scenarios:</strong> Simulates different medical situations, helping students develop critical decision-making skills before entering a real hospital.</li>
                              </ul>
                          </li>
                          <li><strong>Impact:</strong>
                              <ul>
                                  <li>Enhances hands-on learning through virtual practice.</li>
                                  <li>Bridges the gap between theoretical knowledge and real-world medical procedures.</li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              
              </div>
              

      <!------ Projects tab cards -->   
     
              <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                <% project_data.forEach(function(record) { %>  
                <div class="card mt-3 mb-3">
                  <div class="card-body">
                    <h5 class="card-title"> <%= record.title %></h5>
                    <p class="card-text"><%= record.description %></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#model<%= record.id %>" >
                      View Project
                  </button>

<!---- Pop Up-->
<% popup_project.forEach(function(popup_record){ %> 

  <div class="modal fade" id="model<%= popup_record.id %>" tabindex="-1" aria-labelledby="extraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="extraLargeModalLabel"> <%= popup_record.title %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <!-- First Column: Text Content -->
                <div class="col-md-6">
                  <table class="table">
                    <tr>
                      <td><strong>Project Description</strong></td>
                    </tr>
                    <tr>
                      <td>
                        <ul>
                          <% popup_record.description.forEach(function(description_list) { %>
                            <li><%= description_list %></li>
                          <% }); %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Technology Used:</strong></td>
                      </tr>
                      <tr></tr>
                      <td><%= popup_record.technology %></td>
                    </tr>
                    <tr>
                      <td>
                      <a href="https://github.com/muskanchohla" target="_blank" class="btn btn-primary mb-3">GitHub</a>
                    </td>
                    </tr>
                  </table>
                </div>
  
                <!-- Second Column: Image and Video -->
                <div class="col-md-6 text-center">
                  
                  <div>
                    <video id="popupVideo" src="videos/<%= popup_record.imgvid %>" height="300" width="100%" controls autoplay></video>
                    <img id="popupImage" src="images/<%= popup_record.imgvid %>" height="300" width="100%" alt="" style="display: none;">
                  <!--  <video id="popupVideo2" src="videos/<%= popup_record.imgvid2 %>" height="300" width="100%" controls autoplay ></video> -->
                  </div>
                </div>
              </div>
            </div>
  
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  
  <% }); %>
  <!-- end of popup -->
  
                  </div>
                </div>
                <% }); %>
                </div>
          
            </div>
            </div>
            </div>

  <!--- Profile Column -->
            <div class="col-lg-4 col-md-12 col-sm-12  mb-3">
              <div class="box p-3 rounded border border-primary">
                <h3>Profile</h3>
              <ul>
                  <li>Knowledge of OOP, Functional programming, Algorithms and Data Structures, and SDLC</li>
                  <li>Multilingual (French-English), Quick learner, Problem solver, and team-player </li>
                  <li>Positive attitude with a dedication to hard work and quick learning.</li>
                  <li>Exceptional mathematical skills, detail-oriented approach to tasks and projects.</li>
                  <li>Proficient in teamwork and collaboration, adaptable to new environments and technologies.</li>
                  <li>Experience with IT architecture, to design and implement efficient systems.</li>
              </ul>
              </div>
            </div>
          </div> 
        </div>
        </div> 
       
     



     

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
   
      const themeToggleButton = document.getElementById('theme-toggle');
      const htmlElement = document.documentElement;

      themeToggleButton.addEventListener('click', function() {
        const currentTheme = htmlElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        
        htmlElement.setAttribute('data-bs-theme', newTheme);
        themeToggleButton.textContent = newTheme === 'light' ? 'Switch to Dark Mode' : 'Switch to Light Mode';
      });
   
            const video = document.getElementById('popupVideo');
        const image = document.getElementById('popupImage');
        const video2 = document.getElementById('popupVideo2');

        // When the video source is invalid
        video.onerror = function() {
          video.style.display = 'none'; // Hide the video
          image.style.display = 'block'; // Show the image
         
        };

        video2.onerror = function() {
          video2.style.display = 'none'; // Hide the video
        };
        // If the video loads successfully, hide the image (in case it's visible by default)
        video.onloadeddata = function() {
          image.style.display = 'none'; // Hide the image if video is loaded
        };
  
       
          </script>
  </body>
</html>